/* Login Container */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; /* Light background for contrast */
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  /* Project Title Styling */
  .login-title {
    margin-top: 0;
    font-size: 3rem; /* Larger font size for the title */
    font-weight: bold;
    color: #343a40; /* Dark gray */
    margin-bottom: 20px;
  }
  
  /* Project Description Styling */
  .login-description {
    color: #495057; /* Medium gray */
    line-height: 1.3; 
    font-size: 1.5rem;
    /* Improved readability with line height */
    max-width: 1000px; /* Limit width for better formatting */
    margin-bottom: 0;
  }

  
/* Login Button */
.login-button {
    font-size: 2rem;
    padding: 10px 20px;
    max-width: 30vw;
    max-height:15vh;
    margin-top: 0;
    color: white !important; /* Force white color */
    background-color: #3c4047 !important; /* Force the correct color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  
  .login-button:hover {
    background-color: #6f7d95; /* Darker blue for hover */
    transform: translateY(-1px); /* Slight lift on hover */
  }
  
  .login-button:active {
    background-color: #3c4047; /* Even darker blue for active state */
    transform: translateY(0);
  }